.feynman__link {
  color: #2f80ed;
  position: absolute;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  left: auto;
  top: 50%;
  bottom: auto;
}
