.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
}

.two-columns:nth-of-type(1) {
  margin-bottom: 0;
}